* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{font-family: 'Philosopher', sans-serif;}
/*<!--Start Nav Bar-->*/

.navbar-brand span {
    font-size: 1.5rem;
}

.navbar-brand span:first-child {
    color: blue;
    font-weight: bold;
}

.navbar-brand span:last-child {
    color: red;
}


.navbar-brand span:first-child:hover {
    color: red;
}

.navbar-brand span:last-child:hover {

    color: blue;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 16px;
    margin-left: 20px;
    color: #08526d;
    font-weight: bold;

}

.navbar-nav .nav-link:hover {
    color: green;
    animation: shadow-wave 2s ease infinite;
    -webkit-animation: ;
}

.nav-item .btn-style {
    background-color: white;
    color: #08526d;
    border: #72757d 2px solid;
}


.nav-item .btn-style:hover {
    background-color: blue;
    color: white;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    border-color: tomato;
}

/*<!--End Nav Bar-->*/


/*<!--Start Carousal -->*/

.carousel-item {
    background-size: cover;
    background-position: center;

}

@media(max-width:768px) {
    #main-slider .carousel-item p {
        font-size: 1.7rem;
        text-align: center;
        left: auto;
        max-width: 100%;
    }
}

.carousel-item p {
    position: absolute;
    left: 10%;
    top: 40%;
    transform: translate(-00%, -40%);
    color: white;
    font-size: 4rem;
    font-weight: bolder;
    -webkit-transform: translate(-00%, -40%);
    -moz-transform: translate(-00%, -40%);
    -ms-transform: translate(-00%, -40%);
    -o-transform: translate(-00%, -40%);
}

.carousel-item p span {
    color: gold;
    animation: shadow-wave 2s ease infinite;
    -webkit-animation: shadow-wave 2s ease infinite;
}

/*<!--End Carousal -->*/









/*<!--Start Intro-->*/
.intro-header {
    margin-top: 10%;

}

.intro-section h2 {
    font-weight: bold;
    color: black;
    font-size: 2.4rem;
}
/*
.intro-section h2::first-letter {
 font-style: italic;
    color: blue;

}
*/
.intro-section p {
    font-weight: bold;
    color: gray;
    font-size: 2rem;
}
/*
.intro-section p::first-letter {
    font-style: italic;
       color: blue;
   
   }
 */  
.intro-section .get-started {
    font-weight: bold;
    color: white;
    border-color: #16df7e;
    background-color: #16df7e;
    padding: 10px 20px;
    margin-right: 25px;
}


.intro-section .get-started:hover {

    background-color: rgb(58, 58, 231);
    text-decoration: none;
}

.intro-section .watch-video {
    color: grey;
    font-size: larger;
}


.intro-section .watch-video:hover {
    text-decoration: none;
}

.intro-section .watch-video i:hover {
    color: #16df7e;


}

.intro-section .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
    -webkit-animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@media(max-width:768px) {
    .intro-section {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

}

/*<!--End Start Intro-->*/

/*<!--Start Feature Section -->*/
.featured-services-box {
    background-color: rgb(241, 239, 239);
    text-align: center;
    padding: 25px;
    margin-bottom: 5%;
}

.featured-services-box:hover {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
    border-top: blueviolet 3px solid;
    border-bottom: solid springgreen 3px;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -webkit-animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.featured-services-box i:hover {
    color: violet;
}

.featured-services-box i {
    color: #16df9d;
    font-size: 2rem;
}

.featured-services-box h3 {
    color: black;

}

.featured-services-box p {
    color: blueviolet;

}


/*<!--End Feature Section -->*/


/*<!--Start About Section -->*/
.about-section h3 {
    color: #5f687b;
    font-weight: bold;
}

.about-section p {
    color: #444444;
    font-weight: bold;
}

.list-unstyled li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-unstyled li i {
    color: #16df7e;
}

.about-section img:hover {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
    -webkit-animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

/*<!--End About Section -->*/


/*<!--Start Counts Section -->*/

.counts i {
    color: #16df7e;
    font-size: 3rem;
    font-weight: bold;
}

.counts p {
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}

/*<!--End Counts Section -->*/

/*<!--Starts Service Section -->*/

.services-section {
    text-align: center;
    background-color: #f9f9fa;
}

.services-section .service-header h2 {
    color: black;

}

.serivces-box {
    background-color: white;
    padding: 40px;
    margin: 15px;
    border: rgb(245, 244, 244) 1px solid;
}

.serivces-box i {
    color: #16df7e;
    font-size: 2rem;
}

.serivces-box:hover {
    border-top: yellow 2px solid;
    border-bottom: tomato 2px solid;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    transition: ease-in-out 2s all;
    -webkit-transition: ease-in-out 2s all;
    -moz-transition: ease-in-out 2s all;
    -ms-transition: ease-in-out 2s all;
    -o-transition: ease-in-out 2s all;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;

}

/*<!--End Serivce Section -->*/


/*<!--Start Team Section -->*/



.team {
    margin-top: 20px;
    margin-bottom: 20px;
}

.team h3 {
    font-size: 3rem;
    font-weight: bold;
    color: black;
    margin: 3rem;
}
/*
.team h3::first-letter {
    color: blue;
}
*/
.team p {
    color: #72757d;
    font-size: 1.1rem;
}



.card:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    animation: shadow-wave 2s ease infinite;
    -webkit-animation: shadow-wave 2s ease infinite;
}

@keyframes shadow-wave {
    0% {
        border: 3px solid var(--primary);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green), 20px -20px 0 -3px var(--background), 20px -20px var(--yellow), 30px -30px 0 -3px var(--background), 30px -30px var(--orange), 40px -40px 0 -3px var(--background), 40px -40px var(--red);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    20% {
        border: 3px solid var(--red);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--primary),
            20px -20px 0 -3px var(--background), 20px -20px var(--green),
            30px -30px 0 -3px var(--background), 30px -30px var(--yellow),
            40px -40px 0 -3px var(--background), 40px -40px var(--orange);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    40% {
        border: 3px solid var(--orange);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--red),
            20px -20px 0 -3px var(--background), 20px -20px var(--primary),
            30px -30px 0 -3px var(--background), 30px -30px var(--green),
            40px -40px 0 -3px var(--background), 40px -40px var(--yellow);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    60% {
        border: 3px solid var(--yellow);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--orange),
            20px -20px 0 -3px var(--background), 20px -20px var(--red),
            30px -30px 0 -3px var(--background), 30px -30px var(--primary),
            40px -40px 0 -3px var(--background), 40px -40px var(--green);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    80% {
        border: 3px solid var(--green);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--yellow),
            20px -20px 0 -3px var(--background), 20px -20px var(--orange),
            30px -30px 0 -3px var(--background), 30px -30px var(--red),
            40px -40px 0 -3px var(--background), 40px -40px var(--primary);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    100% {
        border: 3px solid var(--primary);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
            20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
            30px -30px 0 -3px var(--background), 30px -30px var(--orange),
            40px -40px 0 -3px var(--background), 40px -40px var(--red);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

}

.card {
    margin-bottom: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: center;

}


.card h5 {
    color: black;
    font-weight: bold;
    font-style: italic;

}

/*
.card h5::first-letter {
   color: blue;

}

*/
.card h6 {
    color: black;
    font-weight: bold;
    font-style: italic;

}

.card a {
    color: #ed1d24;
    font-weight: bold;
    margin: 15px;
    font-size: 2rem;
}

.card a:hover {
    text-decoration: underline;
    text-decoration-color: #ed1d24;
    -moz-text-decoration-color: #ed1d24;
    cursor: pointer;
}

/*<!--End Post Section -->*/
/*
 /*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .section-title {
    text-align: center;
}

.portfolio .section-title h2 {
    font-weight: bold;
    color: black;

}
/*

.portfolio .section-title h2::first-letter {
    font-weight: bold;
    color: blue;
}
*/
.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    color: #5f687b;
}

.portfolio .portfolio-item .portfolio-info p {
    color: #949cac;
    font-size: 14px;
    margin-bottom: 0;
}

.portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 20px;
}

/*
 /*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
    text-align: center;
}

.testimonials h2 {
    font-weight: bold;
    font-size: 2rem;
    color: black;
}


/*
.testimonials h2::first-letter {

    color: blue;
}
*/
.testimonials-section .testimonials-header h2 {
    color: black;

}
/*
.testimonials-box h4:first-letter {
    color: blue;

}
*/
.testimonials .testimonials-box {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 30px;
    margin: 15px;
    border-radius: 87px 10px 132px 10px;
    -moz-border-radius: 87px 10px 132px 10px;
    -webkit-border-radius: 87px 10px 132px 10px;
    border: 3px solid #000000;
}

.testimonials-box img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 80%;
    height: 80%;
}

.testimonials-box:hover {
    border-top: yellow 3px solid;
    border-bottom: red 3px solid;
    border-left: white 3px solid;
    border-right: white 3px solid;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    transition: ease-in-out 2s all;
    -webkit-transition: ease-in-out 2s all;
    -moz-transition: ease-in-out 2s all;
    -ms-transition: ease-in-out 2s all;
    -o-transition: ease-in-out 2s all;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;

}



/*<!--Start Contact US Section -->*/
.contact {
    background-color: #f9f9fa;
    height: 100%;
    margin-bottom: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

}

.contact .section-title h2 {
    text-align: center;
    color: black;
    font-size: 2rem;


}

.contact .section-title p {
    text-align: center;
    color: black;
    font-size: 1.4rem;


}

.info h4 {
    color: crimson;
    font-size: 1.1rem;

}

.info i {
    padding: 10px 10px;
    color: blue;
    font-size: 1.1rem;

}

.contact a:hover {
    background-color: #2696be;
    border: white 3px solid;
    text-decoration: none;
}



/*<!--End Contact us  Section -->*/


/*<!--Start of Footer Section -->*/
.footer {
    padding: 0 40px;
}

.site-info span {
    font-size: 2rem;
}

.site-info span:first-of-type {
    color: #08526d;
    font-weight: bold;
}

.site-info span:last-of-type {

    color: #ed242b;
}

.site-info a {
    color: #08526d;
    font-weight: bold;
}

.helpful-links h4 {
    text-align: center;
}

.helpful-links ul li {
    padding-bottom: 20px;
}

.helpful-links li a:hover {
    text-decoration: none;
    color: #ed1d24;
    font-weight: bold;
    transition: ease-in-out 2s all;
}

.contact-us ul li {
    padding-bottom: 25px;
    color: black;
    font-style: italic;
    font-weight: bold;
}

.contact-us i {
    color: aqua;
    font-size: 1.5rem;
}

.contact-us ul li:hover {
    color: #08526d;
    transform: scale(1.1);
    border: #ed1d24 1px solid;
}


/*<!--End Footer Section -->*/

.copy-right i {
    font-size: 1.2rem;
    margin: 15px;
}

.copy-right h6 {
    animation: shadow-wave 2s ease infinite;
    -webkit-animation: shadow-wave 2s ease infinite;
}

.copy-right i:hover {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    color: #ed1d24;
    transition: all ease-in-out 3s;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
    animation: shadow-wave 2s ease infinite;
    -webkit-animation: shadow-wave 2s ease infinite;
}

/*<!--Start Copy rights Section -->*/





/*<!--End Copy rights Section -->*/